@mixin circle($size: 20px, $color: crimson) {
    width: $size;   
    height: $size;
    border-radius: 50%;
    background-color: $color;
}
.link {
    text-transform: uppercase;
    height: 100%;
    position: relative;
    padding: 1em;
}
a:visited,
a:link {
    color: var(--clr-neutral-200);
    & h1 {
        color: var(--clr-neutral-100);
    }
}
.planet {
    display: inline-block;
    @include circle();
}

@media only screen and  (min-width: 600px) {
    .planet {
        display: none;
    }
}