@keyframes slide {
    to {
        transform: translateX(0px)
    }
}

.nav {
    --nav-p: 1.5em;
    display: none;
   // background-color: #fff;
    margin: 0;
    &Open {
        display: block;
        position: fixed;
        top: 5em;
        left: 0;
        transform: translateX(500px);
        animation: slide 1s forwards;

        background-color: var(--clr-neutral-900);

        width: 100%;
        height: 90%;
        border: 1px solid #00a;
        z-index: 1;

        ul {
            padding: 1em 2em;
            li {
                position: relative;

              opacity: 0.6;
              transition: opacity 1s;
              cursor: pointer;
                &:not(:last-child) {
                    border-bottom: 1px solid var(--clr-neutral-300);
                }
                &::after {
                    content: '';
                    position: absolute;
                    right: 2px;
                    top: 50%;
                    width: 5px;
                    height: 5px;
                    border-top: 1px solid var(--clr-neutral-100);
                    border-left: 1px solid var(--clr-neutral-100);
                    transform: translateY(-50%) rotate(135deg);
                }

                &:hover {
                    opacity: 1;
                }
            }
        }
    }

    ul {

           li {
            padding: var(--nav-p) 0;
            a {
             //   background-color: #da1;
                height: 100%;
                padding: var(--nav-p);
            }
           }
        }

       
}
.navList {
    
    & > li {
   
        & > a{
            padding: 5px 10px; 
            transition: background-color 1s;
           

        }

    }
}

@media only screen and  (min-width: 600px) and (max-width: 900px) {

    .navList {
        width: 100vw;
    }
    .nav {
        --nav-p: 0em;
    }
}
@media only screen and  (min-width: 600px) {
    .navList {
        display: flex;
        justify-content: space-between;
    }
    .nav {
        display: inline-block;
    }
}
