.wrapper {
    grid-area: img;
    position: relative;
    padding-bottom: 70px;
}
.image2 {
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translate(-50%,0);
    width: 150px;
    height: 170px;
}
.image {
    display: block;
    position: relative;
    width: 70%;
    margin: 0 auto;
    place-self: center;
    padding-top: 2em;
}

@media only screen and  (min-width: 600px) and (max-width: 900px) {
    .image{
        width: auto;
    }
}